* {
    box-sizing: border-box;
}

body {
    background-color: #e89bab;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}

h1 {
    font-size: 32px;
    font-weight: bold;
    text-decoration: underline;
}

p {
    margin: 40px auto;
    width: 500px;

}

h3 {
    font-size: 20px;
    font-weight: 600;
    text-align: center
}

a:link,
a:visited {
    text-decoration: none;
    color: black;
  }
 
a:hover,
a:active {
    text-decoration: underline;
    color: black;
  }

img,
button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
img {
    width: 1000;
    height: auto;
    border-radius: 12px;
}

.button {
    background-color: #d4bf68;
    color: white;
    font-size: 18px;
    padding: 8px;
    width: 200px;
    border-radius: 12px;
    font-family: 'Courier New', Courier, monospace;
    display: inline-block;
}

button {
    background-color: rgb(212, 150, 108);
    color: white;
    font-size: 16px;
}